body{
    background-color: rgb(47, 48, 42);
    margin: 0;
    color: white;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#logo{
    padding: 20px 0px 0px 50px;
    width: 100px;

}

nav{
    display: flex;
    gap: 60px;
    padding: 0 80px;
}
section{
 display: flex;
 position:absolute;
 padding: 100px 0px 0px 50px;

}
.sectiontexto{
    font-size: 2em;
    padding: 20px;
    border: 1px solid;
    border-radius: 50px;
    box-shadow: -10px 10px 2rem 10px gold;
    margin-bottom: 300px;
}
button{
    display: flex;
    cursor: pointer;
    justify-content: center;
    margin: 30px 0px 0px 500px;
    width: 300px;
    padding: 30px;
    border-radius: 30px;
    font-size: 23px;
    background-color: rgb(199, 173, 20);
    color: rgb(255, 255, 255);
    
}

button:hover{
    box-shadow: -1px 1px 30px 1px rgb(199, 173, 20);
}

aside{
display: flex;
position: relative;
bottom: 180px;

}
#astronauta{
    width: 900px;

}
a{
    text-decoration: none;
}

input{
    padding: 5px;
    text-align: center;
    color: black;
}
#botaocor{
    padding: 1px;
}
#resultadocor{
    border: 1px solid;

}
